[package]
authors = ["MaidSafe Developers <dev@maidsafe.net>"]
description = "The Safe Network Faucet"
documentation = "https://docs.rs/sn_node"
edition = "2021"
homepage = "https://maidsafe.net"
license = "GPL-3.0"
name = "sn_faucet"
readme = "README.md"
repository = "https://github.com/maidsafe/safe_network"
version = "0.3.80"

[features]
default = []
distribution = ["bitcoin", "minreq", "ecies", "serde_bytes"]

[[bin]]
path="src/main.rs"
name="faucet"

[dependencies]
assert_fs = "1.0.0"
bitcoin = { version = "0.31.0", features = ["rand-std"], optional = true }
bls = { package = "blsttc", version = "8.0.1" }
clap = { version = "4.2.1", features = ["derive"] }
color-eyre = "0.6.2"
dirs-next = "~2.0.0"
ecies = { version="0.2.6", default-features = false, features = ["pure"], optional = true }
hex = "0.4.3"
indicatif = { version = "0.17.5", features = ["tokio"] }
minreq = { version = "2.11.0", features = ["https-rustls"], optional = true}
rmp-serde = "1.1.2"
serde = { version = "1.0.193", features = ["derive"] }
serde_bytes = { version = "0.11.12", optional = true }
serde_json = "1.0.108"
sn_client = { path = "../sn_client", version = "0.104.27" }
sn_logging = { path = "../sn_logging", version = "0.2.21" }
sn_peers_acquisition = { path = "../sn_peers_acquisition", version = "0.2.6" }
sn_transfers = { path = "../sn_transfers", version = "0.16.0" }
tiny_http = { version="0.12", features = ["ssl-rustls"] }
tokio = { version = "1.32.0", features = ["parking_lot", "rt"] }
tracing = { version = "~0.1.26" }
tracing-core = "0.1.30"
url = "2.5.0"

[lints]
workspace = true
