[package]
authors = ["MaidSafe Developers <dev@maidsafe.net>"]
description = "The Safe Network Tesnet Starter."
documentation = "https://docs.rs/sn_node"
edition = "2021"
homepage = "https://maidsafe.net"
license = "GPL-3.0"
name = "sn_testnet"
readme = "README.md"
repository = "https://github.com/maidsafe/safe_network"
version = "0.2.373"

[features]
# required to pass on flag to node builds
chaos = []
statemap = []
otlp = []
local-discovery = []
quic = []
network-contacts = []
open-metrics = []

[[bin]]
path="src/main.rs"
name="testnet"

[dependencies]
color-eyre = "~0.6.0"
eyre = "~0.6.5"
clap = { version = "3.2.0", features = ["derive", "env"]}
dirs-next = "2.0.0"
libp2p = "0.53"
# watch out updating this, protoc compiler needs to be installed on all build systems
# arm builds + musl are very problematic
prost = { version = "0.9" }
regex = "1.10"
tonic = { version = "0.6.2" }
tracing = "~0.1.26"
tracing-core = "~0.1.21"
tracing-subscriber = "~0.3.1"
walkdir = "~2.4.0"
# add rand to libp2p
libp2p-identity = { version="0.2.7", features = ["rand"] }

[dependencies.tokio]
version = "1.17.0"
features = ["fs", "io-util", "macros", "rt", "rt-multi-thread", "sync"]

[build-dependencies]
# watch out updating this, protoc compiler needs to be installed on all build systems
# arm builds + musl are very problematic
tonic-build = { version = "~0.6.2" }

[dev-dependencies]
assert_fs = "~1.0"
mockall = "0.11.3"
predicates = "3.0"

[lints]
workspace = true
