[package]
authors = ["MaidSafe Developers <dev@maidsafe.net>"]
description = "Safe Networking Infrastructure"
documentation = "https://docs.rs/sn_node"
edition = "2021"
homepage = "https://maidsafe.net"
license = "GPL-3.0"
name = "sn_networking"
readme = "README.md"
repository = "https://github.com/maidsafe/safe_network"
version = "0.8.29"

[features]
default=[]
local-discovery=["libp2p/mdns"]
quic=["libp2p-quic"]
open-metrics=["libp2p-metrics", "prometheus-client", "hyper", "sysinfo"]
network-royalties-notif=[] # wether to subscribe to network royalties payments notifications on gossipsub

[dependencies]
async-trait = "0.1"
bytes = { version = "1.0.1", features = ["serde"] }
futures = "~0.3.13"
hyper = { version = "0.14", features = ["server", "tcp", "http1"], optional = true}
itertools = "~0.11.0"
custom_debug = "~0.5.0"
libp2p = { version="0.52", features = ["tokio", "dns", "kad", "macros", "request-response", "cbor","identify", "autonat", "noise", "tcp", "yamux", "gossipsub"] }
libp2p-metrics = { version = "0.13.1", features = ["identify", "kad", "gossipsub"], optional = true }
libp2p-quic = { version = "0.9.2", features = ["tokio"], optional = true }
prometheus-client = { version = "0.21.2", optional = true }
rand = { version = "~0.8.5", features = ["small_rng"] }
rmp-serde = "1.1.1"
serde = { version = "1.0.133", features = [ "derive", "rc" ]}
sn_protocol = { path = "../sn_protocol", version = "0.7.21" }
sn_transfers = { path = "../sn_transfers", version = "0.14.0" }
sysinfo = { version = "0.29.0", default-features = false, optional = true }
thiserror = "1.0.23"
tokio = { version = "1.32.0", features = ["io-util", "macros", "parking_lot", "rt", "sync", "time"] }
tracing = { version = "~0.1.26" }
xor_name = "5.0.0"

[dev-dependencies]
bls = { package = "blsttc", version = "8.0.1" }
quickcheck = "1.0.3"
eyre = "0.6.8"
