name: PR Benchmarks

on: pull_request


env:
  CARGO_INCREMENTAL: '0'
  RUST_BACKTRACE: 1

jobs:
  benchmark:
    name: Compare benchmarks to main
    # right now only ubuntu, running on multiple systems would require many pushes...\
    # perhaps this can be done with one consolidation action in the future, pulling down all results and pushing
    # once to the branch..
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y heaptrack
      - uses: actions-rs/toolchain@v1
        id: toolchain
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v1
        with:
          cache-on-failure: true

      - run: cargo install cargo-criterion

      - name: ubuntu install ripgrep
        run: sudo apt-get -y install ripgrep

      # As normal user won't care much about initial client startup,
      # but be more alerted on communication speed during transmission.
      # Meanwhile the criterion testing code includes the client startup as well,
      # it will be better to execute bench test with `local-discovery`,
      # to make the measurement results reflect speed improvement or regression more accurately.
      - name: Build sn bins
        run: cargo build --release --bins --features local-discovery
        timeout-minutes: 30

      - name: Start a local network
        run: cargo run --release --bin testnet --features verify-nodes -- --interval 2000 --node-path ./target/release/safenode
        env:
          SN_LOG: "all"
        timeout-minutes: 10

      # Start a heaptracked node instance to compare memory usage
      - name: Start safenode with heaptrack
        run: |
          mkdir -p ~/.safe/heapnode
          heaptrack ./target/release/safenode --root-dir ~/.safe/heapnode --log-dir ~/.safe/heapnode --local &
          sleep 10
        env:
          SN_LOG: "all"

      ########################
      ### Benchmark itself ###
      ########################

      - name: Bench `safe`
        shell: bash
        # Criterion outputs the actual bench results to stderr "2>&1 tee output.txt" takes stderr,
        # passes to tee which displays it in the terminal and writes to output.txt
        run: |
          cargo criterion --features=local-discovery --message-format=json 2>&1 | tee -a output.txt
          cat output.txt | rg benchmark-complete | jq -s 'map({
          name: (.id | split("/"))[-1],
          unit: "MiB/s",
          value: ((if .throughput[0].unit == "KiB/s" then (.throughput[0].per_iteration / (1024*1024*1024)) else (.throughput[0].per_iteration / (1024*1024)) end) / (.mean.estimate / 1e9))
          })' > files-benchmark.json


      - name: Check for Client heaptrack file
        shell: bash
        run: |
          ls -la  
          cat files-benchmark.json        
     
      #################################
      ### Log any regression alerts ###
      #################################
      # Run `github-action-benchmark` action
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          # What benchmark tool the output.txt came from
          tool: 'customBiggerIsBetter'
          output-file-path: files-benchmark.json
          # Where the previous data file is stored
          external-data-json-path: ./cache/benchmark-data.json
          # Workflow will fail when an alert happens
          fail-on-alert: true
          # GitHub API token to make a commit comment
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Enable alert commit comment
          comment-on-alert: true
          # 200% regression will result in alert
          alert-threshold: '200%'
          # Enable Job Summary for PRs
          summary-always: true


      # The generated large single file (around 450MB) may vary little bit along the releases
      - name: zip up release
        shell: bash
        run: |
          tar -czvf release_zip.tar.gz ./target/release
          ls -la

      # Start a heaptracked client instance to compare memory usage
      - name: Start client with heaptrack
        shell: bash
        run: heaptrack ./target/release/safe files upload release_zip.tar.gz
        env:
          SN_LOG: "all"

      # Set the threshold slightly less than the real node number
      # as libp2p kad doesn't guarantee a node knowing full knowledge of the network.
      - name: Confirm the heapnode connected to the network
        shell: bash
        timeout-minutes: 1
        run : |
          discovered_count=$(rg "PeerAddedToRoutingTable" ~/.safe/heapnode -c --stats | rg "(\d+) matches" | rg "\d+" -o)
          node_count=$(ls ~/.safe/node/local-test-network | wc -l)
          if [ $discovered_count -lt 23 ]; then
            echo "Discovered count of: $discovered_count is less than the node count of: $node_count"
            exit 1
          fi
        if: always()

      ### CLEANUP ###
      - name: Kill all nodes
        shell: bash
        timeout-minutes: 1
        if: failure()
        continue-on-error: true
        run: |
          pkill safenode
          echo "$(pgrep safenode | wc -l) nodes still running"

      - name: Tar log files
        shell: bash
        continue-on-error: true
        run: |
          find ~/.safe/heapnode -iname '*.log*' | tar -zcvf heap_node_log_files.tar.gz --files-from -
          find ~/.safe/node/local-test-network -iname '*.log*' | tar -zcvf nodes_log_files.tar.gz --files-from -
          find /tmp/safe-client -iname '*.log*' | tar -zcvf client_log_files.tar.gz --files-from -
          find . -iname '*log_files.tar.gz' | tar -zcvf log_files.tar.gz --files-from -
        if: always()

      - name: Upload Logs
        uses: actions/upload-artifact@main
        with:
          name: sn_node_logs_benchmark_prs
          path: log_files.tar.gz
        if: always()
        continue-on-error: true
      
      #########################
      ### Node Mem Analysis ###
      #########################
      - name: Check for Node heaptrack file
        run: ls -la
        shell: bash


      - name: Analyze node memory usage
        shell: bash
        run: |
          HEAPTRACK_FILE=$(ls -t heaptrack.safenode.*.zst | head -1)
          heaptrack --analyze $HEAPTRACK_FILE > heaptrack.safenode.txt

      - name: Upload Node Heaptrack
        uses: actions/upload-artifact@main
        with:
          name: heaptrack_safenode
          path: heaptrack.safenode.*
        continue-on-error: true

      # The large file uploaded will increase node's peak mem usage a lot
      - name: Check node memory usage
        id: node-memory-usage-check
        shell: bash
        env:
          NODE_MEM_LIMIT_MB: "100" # mb
        run: |
          MEMORY_USAGE=$(rg "peak heap memory consumption" ./heaptrack.safenode.txt | awk '{print $5}' | rg "M" -r "")
          echo "Memory usage: $MEMORY_USAGE MB"
          if (( $(echo "$MEMORY_USAGE > $NODE_MEM_LIMIT_MB" | bc -l) )); then
            echo "Node memory usage exceeded threshold: $MEMORY_USAGE MB"
            exit 1
          fi
          # Write the node memory usage to a file
          echo '[
              {
                  "name": "node-memory-usage-through-safe-benchmark",
                  "value": '$MEMORY_USAGE',
                  "unit": "MB"
              }
          ]' > node_memory_usage.json

      - name: Alert for node memory usage
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: 'customSmallerIsBetter'
          output-file-path: node_memory_usage.json
          # Where the previous data file is stored
          external-data-json-path: ./cache/node-mem-usage.json
          # Workflow will fail when an alert happens
          fail-on-alert: true
          # GitHub API token to make a commit comment
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Enable alert commit comment
          comment-on-alert: true
          # Comment on the PR
          comment-always: true
          # 200% regression will result in alert
          alert-threshold: '200%'
          # Enable Job Summary for PRs
          summary-always: true

      ###########################
      ### Client Mem Analysis ###
      ###########################
      - name: Check for Client heaptrack file
        run: ls -la
        shell: bash


      - name: Analyze client memory usage
        shell: bash
        run: |
          HEAPTRACK_FILE=$(ls -t heaptrack.safe.*.zst | head -1)
          heaptrack --analyze $HEAPTRACK_FILE > heaptrack.safe.txt

      - name: Upload Client Heaptrack
        uses: actions/upload-artifact@main
        with:
          name: heaptrack_safe
          path: heaptrack.safe.*
        continue-on-error: true

      - name: Print heaptrack
        run: rg "peak heap memory consumption" ./heaptrack.safe.txt
        shell: bash

      - name: Check client memory usage
        id: client-memory-usage-check
        shell: bash
        env:
          CLIENT_PEAK_MEM_LIMIT_MB: "1000" # mb
          CLIENT_AVG_MEM_LIMIT_MB: "700" # mb
        run: |
          peak_mem_usage=$(rg "peak heap memory consumption" ./heaptrack.safe.txt | awk '{print $5}' | rg "M" -r "")
          echo "Peak memory usage: $peak_mem_usage MB"
          if (( $(echo "$peak_mem_usage > $CLIENT_PEAK_MEM_LIMIT_MB" | bc -l) )); then
            echo "Client peak memory usage exceeded threshold: $CLIENT_PEAK_MEM_LIMIT_MB MB"
            exit 1
          fi
          mem_reads=($(rg "\"memory_used_mb\":\d+" /tmp/safe-client/safenode.* -o --no-line-number --no-filename | rg "\d+" -o))
          total_mem=$(ls heaptrack.safe.txt | wc -l)
          echo "Total memory initial value is: $total_mem"
          for mem in "${mem_reads[@]}"; do
            total_mem=$((total_mem+$(($mem))))
          done
          num_of_times=$(rg "\"memory_used_mb\"" /tmp/safe-client/safenode.* -c --stats | rg "(\d+) matches" | rg "\d+" -o)
          echo "num_of_times: $num_of_times"
          echo "Total memory is: $total_mem"
          average_mem=$(($total_mem/$(($num_of_times))))
          echo "Average memory is: $average_mem"
          if (( $(echo "$average_mem > $CLIENT_AVG_MEM_LIMIT_MB" | bc -l) )); then
            echo "Client average memory usage exceeded threshold: $CLIENT_AVG_MEM_LIMIT_MB MB"
            exit 1
          fi
          # Write the client memory usage to a file
          echo '[
              {
                  "name": "client-peak-memory-usage-during-upload",
                  "value": '$peak_mem_usage',
                  "unit": "MB"
              },
              {
                  "name": "client-average-memory-usage-during-upload",
                  "value": '$average_mem',
                  "unit": "MB"
              }
          ]' > client_memory_usage.json

      - name: Alert for client memory usage
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: 'Memory Usage of Client during uploading large file'
          tool: 'customSmallerIsBetter'
          output-file-path: client_memory_usage.json
          # Where the previous data file is stored
          external-data-json-path: ./cache/client-mem-usage.json
          # Workflow will fail when an alert happens
          fail-on-alert: true
          # GitHub API token to make a commit comment
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Enable alert commit comment
          comment-on-alert: true
          # 200% regression will result in alert
          alert-threshold: '200%'
          # Enable Job Summary for PRs
          summary-always: true
