name: Cross platform checks

on:
  # tests must run for a PR to be valid and pass merge queue muster
  # on main, we want to know that all commits are passing at a glance, any deviation should help bisecting errors
  # the merge run checks should show on master and enable this clear test/passing history
  merge_group:
    branches: [main]
  # pull_request:
  #   branches: ["*"]

env:
  CARGO_INCREMENTAL: 0 # bookkeeping for incremental builds has overhead, not useful in CI.

jobs:
 
  wasm:
    if: "!startsWith(github.event.head_commit.message, 'chore(release):')"
    name: Wasm builds
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build client for wasm
        # wasm pack doesnt support workspaces
        # --dev to avoid a loong optimisation step
        run: cd sn_client && wasm-pack build --dev 
        timeout-minutes: 30

  websocket:
    if: "!startsWith(github.event.head_commit.message, 'chore(release):')"
    name: Standard Websocket builds
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2

      - name: Build all for `websockets`
        run: cargo build --features="websockets"
        timeout-minutes: 30
